*{
    background-color: white;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
    /*Seteo los margenes a cero*/
header{
    display: flex;
    justify-content: space-around;
}
#morita{
    background-color: beige;
}
h1{
    font-weight: bold;
    font-size: 40px;
}
.menu{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 0;
    padding: 0;
    width: 150%;
}
