*{
    box-sizing: border-box;
}
    /*Seteo los margenes a cero*/
*{

    font-family: 'Nunito', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
}
body{
    background-color:rgb(238, 220, 247);
}
footer{
    background-color: #fff;
}
#morita{
    background-color: beige;
}
h1{
    
    font-weight: bold;
    font-size: 40px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 50px;
    padding: 5px;
    width: 100%;
}