* {
    box-sizing: border-box;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}

#menu {
    display: flex;
}

/* #berni{
background-image: url("img/yo.jpgs"); 
background-attachment: scroll;
} */

/* #morita{

} */
#pegatina {
    /* position: -webkit-sticky; */
    position: sticky;
    position: fixed;
    bottom: 10px;
    right: -2px;
    padding: 5px;
    font-size: 15px;

}